- if user_signed_in?
- else
  .regBtn
    #openModal
      Guest Login
    = icon("fas", "running", class: "user-icon")
  %section#modalArea.modalArea
    #modalBg.modalBg
    .modalWrapper
      .modalContents
        %h1 MyGrowDiaryへようこそ！
        %p MyGrowDiaryはブログアプリです
        %br
        %p.guestInfo ※ゲストの方はこちらからログインいただけます。
        = link_to 'Guest LogIn', top_guest_sign_in_path, class: "guestLogin", method: :post
      #closeModal.closeModal
        ×