.breadCrumb
  - breadcrumb :groupEdit, @group
  = breadcrumbs separator: " &rsaquo; "
.groupWrapper
  .templateTitle
    Edit Group
  = render partial: 'form', locals: { group: @group }
  -# .groupDelete
  -#   = link_to "Delete Group", group_path(@group.id), method: :delete, class: "groupDelete--btn"
