.breadCrumb
  - breadcrumb :groups
  = breadcrumbs separator: " &rsaquo; "
.templateTitle
  All Groups 
.groupWrapper
  .groupList__contents
    - @groups.each do |group|
      .groupList__contents--content
        = link_to group.name, group_path(group.id), class:"groupList--name"
  .newGroup
    = link_to "Create Group", new_group_path, class: "linkNewGroup"
