.groupWrapper{
  width: 80%;
  margin: auto;
  text-align: center;
  .groupList__contents{
    display: flex;
    flex-wrap: wrap;
    &--content{
      margin: 10px 10px;
      .groupList{
        &--name{
          padding: 5px 10px;
          background-color: $white;
          font-weight: bold;
          border-radius: 4px;
          border: 1px solid $gray;
          @include linkTextBlack;
          @include hvBlue;
        }
      }
    }
  }
  .newGroup{
    margin: 100px 0;
    .linkNewGroup{
      text-decoration: none;
      color: $white;
      background-color: $blue;
      padding: 10px 20px;
      border-radius: 4px;
      @include hvOpacity;
    }
  }
  .chat-group-form__action-btn{
    background-color: $blue;
    border-radius: 4px;
    color: $white;
  }
}

// ↓----------グループ一覧画面----------↓


// ↓----------グループ詳細画面----------↓
.groupMember{
  .groupUserName{
    font-weight: bold;
    @include linkTextBlack;
    @include hvBlue;
  }
  #text {
    width: 80%;
    height: 80%;
  }
}