.breadCrumb
  - breadcrumb :tags
  = breadcrumbs separator: " &rsaquo; "
.tags-wrapper
  .tagTitle
    All List of Tags
  .tagShows
    .tagShows__contents
      - @tags.each do |tag|
        .tagShows__contents--content
          = link_to "##{tag.name}", tag_path(tag.id), class:"tagShows__contents--content--name"