
body{
  background-color: #f6f6f6;
  min-width: 650px;
  overflow: scroll;
  .contents{
    margin: 30px auto 0;
    background-color: #fff;
    height: 600px;
    width: 70%;
    overflow: scroll;
    .content{
      padding: 10px;
      border-bottom: 1px solid #f6f6f6;
      display: flex;
      &__left{
        padding-right: 20px;
        &--image{
          height: 55px;
          width: 55px;
          border: solid 1px;
        }
      }
      &__right{
        width: calc(100%-100px);
        &__top{
          font-size: 20px;
          font-weight: bold;
          &--title{
            text-decoration: none;
            color: #000000;
          }
        }
        &__bottom{
          font-size: 15px;
          color: #999;
          display: flex;
          &--userName{
            &--btn{
              text-decoration: none;
              color: #999;
            }
          }
          &--date{
            margin-left: 20px;
          }
        }
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
      }
    }
    .postTitle{
      padding: 50px 0;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      border: 2px solid gray;
    }
    .postDate{
      padding: 20px 0;
      font-size: 15px;
      color: #999;
      text-align: center;
      border: 1px solid gray;
    }
    .postAuthor{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      &__edit{
        display: block;
        border-radius: 5px;
        color: #ffffff;
        background-color:rgba(43, 174, 184, 0.959);;
        padding: 0 10px;
        text-decoration: none;
        margin-right: 10px;
      }
      &__delete{
        display: block;
        border-radius: 5px;
        color: #ffffff;
        background-color:rgba(43, 174, 184, 0.959);;
        padding: 0 10px;
        text-decoration: none;
        margin-left: 10px;
      }
    }
    .postText{
      margin: 20px 30px;
      text-align: center;
      height: 500px;
      border: 2px solid gray;
    }
    .postTag{
      width: 90%;
      height: 50px;
      margin: auto;
      .tagItem {
        color: white;
        text-align: center;
        line-height: 40px;
        width: 70px;
        height: 40px;
        background-color: rgb(240, 166, 205);
        border-radius: 10px;
        margin: 0 5px;
        padding: 5px 3px;
      }
    }
  }

  .form-group {
    display: flex;
    margin: 20px 0;
  }

  .form-check {
    margin-left: 5px;
  }


  .form{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    &__title{
      display: block;
      width: 100%;
      height: 50px;
    }
    &__text{
      display: block;
      width: 100%;
      height: 50%;
      margin-top: 15px;
    }
    &__btn{
      display: block;
      width: 30%;
      margin: 15px auto 0;
    }
  }
  .user{
    padding: 15px 30px;
  }
}

.container {
  width: 100%;
  height: 800px;
  // overflow: scroll;
  text-align: center;
}

.comments {
   background-color: rgba(43, 174, 184, 0.959);
   margin: 50px;
   height: 500px;
  //  overflow: scroll;
   border: 2px solid gray;
  &__title {
    background-color: white;
    height: 50px;
    // line-height: 50px;
    margin: 20px 50px;
    border: 1px solid gray;
  }
  &__text {
    background-color: white;
    margin: 0 50px;
    border: 1px solid gray;
  }
}
#comment_text {
  width: 90%;
  margin: 30px 0;
}
.comment-send-btn {
  width: 30%;
}

// 検索フォームCSS
.search-form {
  height: 100px;
  text-align: center;
  line-height: 100px;
  .search-input {
    width: 60%;
    height: 50px;
  }
  .search-btn {
    font-size: 20px;
    margin-left: 40px;
    width: 100px;
    height: 50px;
  }
}
