.search-form {
  height: 100px;
  text-align: center;
  line-height: 100px;
  .search-input {
    width: 60%;
    height: 50px;
  }
  .search-btn {
    font-size: 20px;
    margin-left: 40px;
    width: 100px;
    height: 50px;
  }
}