= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
  = form.text_field :keyword, placeholder: "Search for posts", class: "search-input"
  = form.submit "Search", class: "search-btn"
= render "posts/index"