.breadCrumb
  - breadcrumb :searchPost
  = breadcrumbs separator: " &rsaquo; "
.likeRankTitle
  Search Result
-if @posts.present?
  = render "posts/index"
-else
  .noMatchText
    No Matching Posts...




