.header{
  font-family: 'Silom',sans-serif;
  opacity: 0.9;
  height: 100px;
  width: 100%;
  padding: 0 150px;
  background-color: #bdbdbd;
  display: flex;
  justify-content: space-between;
  border-bottom: 15px solid #212121;
  &__title{
    display: block;
    font-size: 30px;
    line-height: 100px;
    transition: all 0.1s;
    &--text{
      text-decoration: none;
      color: #212121;
      &:hover {
        color:#0B74AF;
      }
    }
  }
  &__right{
    &--btn{
      text-decoration: none;
      line-height: 100px;
      margin-left:15px;
      color: #212121;
      &:hover {
        color:#0B74AF;
      }
    }
  }
}