.login-contents {
  margin: auto;
  text-align: center;
  width: 80%;
  &__title{
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid $gray;
    font-size: 28px;
    font-weight: bold;
  }
  .login-content {
    border-bottom: 1px solid $gray;
    margin: auto;
    font-size: 16px;
    line-height: 50px;
  }
  .login-field{
    display: flex;
    flex-direction: column;
    width: 36%;
    margin: auto;
  }
  .registrations-btn {
    width: 36%;
    height: 48px;
    font-size: 16px;
    margin: 40px 0;
    @include btnBlue;
    @include hvOpacity;
  }
}

.guestLogin-btn {
  width: 36%;
  height: 48px;
  font-size: 16px;
  margin: 20px auto;
  @include btnGray;
  @include hvOpacity;
  .guestLogin-devise-text{
    @include linkTextWhite;
  }
}