.content-title{
  height: 100px;
  width: 80%;
  margin: auto;
  border-bottom: 2px solid $gray;
  line-height: 100px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.userPage__contents {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  height: 800px;
  &__left {
    margin-top: 30px;
    width: 40%;
    &__imageBox {
      width: 250px;
      height: 250px;
      border: 1px solid $gray;
      background-color: $white;
      text-align: center;
      font-weight: bold;
      .profImage{
        width: 100%;
        height: 100%;
      }
      .default-icon {
        width: 100%;
        height: 100%;
      }
    }
    &__userInfo {
      display: left;
      .followerCount {
        margin: 20px 0;
      }
      &--prof {
        &--text{
          height: 300px;
          padding: 5px;
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;
          overflow: scroll;
        }
      }
      .editProfText {
        background-color: $blue;
        text-decoration: none;
        padding: 4px 8px;
        border-radius: 4px;
        color: $white;
        margin-top: 20px;
        &:hover {
          opacity: 0.8;
        }
      }
      .logoutBtn {
        background-color: #DC143C;
        text-decoration: none;
        padding: 4px 8px;
        border-radius: 4px;
        color: $white;
        margin: 20px 0 0 30px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__right {
    width: 60%;
    margin-left: 50px;
    padding: 12px 0 0 20px;
    &__posts__box{
      margin-bottom: 15px;
    }
    .pagination-box {
      text-align: left;
    }
      .postTitle {
        text-decoration: none;
        color: $black;
        font-size: 20px;
        font-weight: bold;
        &:hover {
          color:$blue;
        }
      }
    }
}

.userPage__bottom {
  width: 80%;
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: center;
  &__left{
    width: 50%;
    text-align: center;
  }
  &__right{
    width: 50%;
    text-align: center;
  }
  .userNickname {
    text-decoration: none;
    color: $black;
    font-size: 20px;
    &:hover {
      color: $blue;
    }
  }
}