.signup-contents {
  margin: auto;
  text-align: center;
  width: 80%;
  &__title {
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid #A0A0A0;
    font-size: 28px;
    font-weight: bold;
  }
  .signup-content {
    border-bottom: 1px solid #A0A0A0;
    margin: auto;
    font-size: 16px;
    line-height: 50px;
  }
  .signup-field{
    display: flex;
    flex-direction: column;
    width: 36%;
    margin: auto;
  }
  .registrations-btn {
    width: 36%;
    height: 48px;
    font-size: 16px;
    margin: 40px 0;
    border-radius: 4px;
    background-color:#0B74AF;
    color: #fff;
    &:hover{
      opacity: 0.8;
    }
  }
}