.content-title{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid gray;
  line-height: 100px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.user-info {
  height: 500px;
  text-align: center;
  &__box {
    height: 80px;
    width: 80%;
    line-height: 80px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }
}

.profile-box {
  padding: 20px 4px;
  height: 200px;
  width: 80%;
  margin: 0 auto 20px auto;
  font-size: 18px;
  border-bottom: 1px solid gray;
}

.fas fa-book-reader icon {
  color: white;
}

.link-cover {
  display: flex;
  justify-content: space-around;
}

.link-box {
  list-style: none;
  text-decoration: none;
  color: #0B74AF;
  font-size: 25px;
  margin-bottom: 50px;
}
.link-btn {
  height: 50px;
  width: 250px;
  border-radius: 5px;
}
.btn-text {
  text-decoration: none;
  color:black;
}
