.unFollowBtn {
  background-color: $blue;
  border-radius: 4px;
  color: $white;
  margin-top: 20px;
  padding: 4px 8px;
  &:hover {
    opacity: 0.8;
  }
}

.followBtn {
  background-color: $gray;
  border-radius: 4px;
  color: $white;
  margin-top: 20px;
  padding: 4px 8px;
  &:hover {
    opacity: 0.8;
  }
}

.followerCount {
  margin-top: 10px;
  font-weight: bold;
  color: $gray;
}