.comments {
  margin: 50px auto;
  width: 80%;
  overflow: scroll;
  &__title {
    text-align: center;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin-bottom: 20px;
  }
  &__text {
    padding-left: 10px;
    background-color: $white;
    margin: 5px 30px;
  }
  
}
.container {
  height: 200px;
  text-align: center;
}
#comment_text {
  width: 80%;
  border-top: 1px solid $gray;
  margin: 30px 0;
}
.form__submit {
  width: 36%;
  height: 28px;
  border-radius: 4px; 
  margin-bottom: 50px;
  background-color: $blue;
  color: $white;
  &:hover {
    opacity: 0.8;
  }
}
