.contents {
  margin: 30px auto 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  width: 80%;
  .content {
    padding: 10px;
    border-bottom: 0.5px solid $gray;
    display: flex;
    &__left {
      padding-right: 20px;
      &--image{
        height: 55px;
        width: 55px;
        border: solid 1px;
      }
      .sml-img {
        height: 100%;
        width: 100%;
      }
    }
    &__right {
      width: calc(100%-100px);
      &__top {
        font-size: 20px;
        font-weight: bold;
        .posttitle {
          text-decoration: none;
          color: $black;
          transition: all 0.1s;
          &:hover{
            color:$blue;
            letter-spacing: 1px;
          }
        }
      }
      &__bottom {
        font-size: 16px;
        color: $gray;
        display: flex;
        &--userName {
          &--btn{
            text-decoration: none;
            color: $black;
            padding-right: 16px;
            transition: all 0.1s;
          &:hover {
            color:$blue;
            letter-spacing: 0.8px;
          }
          }
        }
        &--date {
          padding-right: 20px;
        }
        .fa-thumbs-up {
          color: $blue;
        }
      }
    }
  }
}
.edit-sign-box {
  margin: -20px auto 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: $blue;
  opacity: 0.8;
  color: $white;
}