.search-form {
  height: 100px;
  text-align: center;
  line-height: 100px;
  width: 80%;
  margin: auto;
  .search-input {
    width: 60%;
    height: 50px;
  }
  .search-btn {
    font-size: 20px;
    margin-left: 40px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.1s;
    &:hover{
      background-color: $blue;
      opacity: 0.8;
    }
  }
}
// タグ検索ボタン
.tag-index {
  width: 60%;
  margin: auto;
  &__link {
    height: 40px;
    width: 160px;
    margin-left: 12px;
    list-style: none;
    border-radius: 4px;
    transition: all 0.1s;
      &:hover{
        background-color:$blue;
        opacity: 0.8;
      }
    }
}
// タグ検索ボックス
.tag-link{
  text-decoration: none;
  color: $black;
}