.search-form {
  @include lineHeight;
  width: 80%;
  margin: auto;
  .search-input {
    width: 60%;
    height: 50px;
  }
  .search-btn {
    font-size: 20px;
    margin-left: 40px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.1s;
    &:hover{
      background-color: $blue;
      opacity: 0.8;
    }
  }
}
