.search-form {
  height: 100px;
  text-align: center;
  line-height: 100px;
  .search-input {
    width: 60%;
    height: 50px;
  }
  .search-btn {
    font-size: 20px;
    margin-left: 40px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.1s;
    &:hover{
      background-color: #0B74AF;
    }
  }
}
// タグ検索ボタン
.tag-index__link {
  height: 40px;
  width: 150px;
  margin-left: 130px;
  list-style: none;
  border-radius: 4px;
  transition: all 0.1s;
    &:hover{
      background-color:#0B74AF;
    }
  }
  