.tags-wrapper {
  width: 80%;
  text-align: center;
  margin: auto;
  .tagTitle {
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #A0A0A0;
    height: 80px;
    line-height: 80px;
  }

  .tagShows {
    margin-top: 12px;
    .tagShow {
      display: inline;
      margin: 0 4px;
      &:hover{
        opacity: 0.8;
        }
      &--name{
        text-decoration: none;
        color: #fff;
        background-color: #A0A0A0;
        border-radius: 4px;
        padding: 2px 4px;
      }
    }
  }
}

.postTag{
  width: 90%;
  height: 50px;
  margin: auto;
  .tagItem {
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #A0A0A0;
    border-radius: 4px;
    margin: 0 4px;
    padding: 4px 8px;
    &--name{
      text-decoration: none;
      color: #fff;
    }
    &:hover{
      opacity: 0.8;
      }
  }
}

.tagTitle {
  font-size: 28px;
  font-weight: bold;
}
.showTagPost {
  margin: auto;
  .content {
    padding: 10px;
    border-bottom: 0.5px solid #A0A0A0;
    display: flex;
    &__left {
      padding-right: 20px;
      &--image{
        height: 55px;
        width: 55px;
        border: solid 1px;
      }
      .sml-img {
        height: 100%;
        width: 100%;
      }
    }
    &__right {
      width: calc(100%-100px);
      &__top {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        &--title{
          text-decoration: none;
          color: black;
          transition: all 0.1s;
          &:hover{
            color:#0B74AF;
            letter-spacing: 1px;
          }
        }
      }
      &__bottom {
        font-size: 16px;
        color: #A0A0A0;
        display: flex;
        &--userName {
          &--btn{
            text-decoration: none;
            color: black;
            padding-right: 16px;
            transition: all 0.1s;
          &:hover {
            color:#0B74AF;
            letter-spacing: 0.8px;
          }
          }
        }
      }
    }
  }
}